@font-face {
    font-family: "Spartan";
    src: url("./Spartan-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Island Moments";
    src: url(IslandMoments-Regular.ttf) format("truetype");
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Spartan";
    color: white;
    font-size: large;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: black;
    opacity: .8;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
    background-color: black;
    opacity: .7;
}
h4 {
    margin-bottom: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    margin-bottom: 1px;
}

p {
    font-style: italic;
    font-size: 1em;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-left: -20px;
}

.chefPhoto {
    opacity: 1;
    margin-bottom: 40px;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url("./barPhoto.jpg") no-repeat center fixed;
    background-size: cover;
}

.content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    max-width: 400px;
    align-items: center;
    justify-content: center;
}

.navItem {
    cursor: pointer;
    padding: 4px;
    margin-bottom: -6px;
    font-weight: bold;
}

.navItem:hover {
    border: 2px solid white;
    border-bottom: none;
}

.title {
    font-family: "Island Moments";
    font-size: 75px;
}

